<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="wrap">
		
		<%= f.hidden_field :user_id %>
		<h3>質問者:<%= current_user ? current_user.name : "名無しさん" %></h3>
  	<div class="field">
  	  <%= f.label :title %><br>
  	<%= f.text_field :title, :class => "form-control" %>
  	</div>
  	<div class="field">
		<%= f.label :picture %> <br>
  	<%= f.file_field :picture %>
  	</div>
  	<div class="field">
  	  <%= f.label :body %><br>
			<%= f.text_area :body, :class => "form-control" %>
  	</div>
  	<div class="actions">
  	  <%= f.submit %>
  	</div>
  </div>
<% end %>
