<h1>Listing topics</h1>
<div id="wrap" class="row">
	<div id="topic" class="col-md-8">
		<div class="conteiner">
			<table class="table">
				<thead>
					<tr>
						<th>トピック一覧</th>
						<th>レス数</th>
					</tr>
				</thead>
				<tbody>
					<% @topics.each do |topic| %>
						<tr>
							<td class="titles"><%= link_to topic.title, topic %></td>
							<td><span class="badge"><%= topic.responses.length %></span></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<!-- サイドバー -->
	<div class="col-md-3 col-md-offset-1 sidebar">
		<%= current_user.name if current_user %><br>
		<%= link_to 'New Topic', new_topic_path, :class => 'btn btn-primary'%><br>

		<% if user_signed_in? %>
			<%= link_to 'sign out', destroy_user_session_path, method: :delete %><br>
		<% else %>
			<%= link_to 'sign in', new_user_session_path %><br>
		<% end %>
	</div>
</div>
