<p id="notice"><%= notice %></p>

  <h1><%= @topic.title %></h1>

	<div style="padding:3px;border:solid 1px #000;width:300px;">
		<h2><%= @topic.user_id %></h2>
		<%= @topic.body %>
	</div>

	<% @topic.responses.each do |response| %> 
		<%= response.body %> <br>
	<% end %>

<%= link_to '返信', new_response_path(topic_id:@topic.id) %>

<%= link_to 'Back', topics_path %>
