<p id="notice"><%= notice %></p>

<div id="wrap" class="row">
	<h1><%= @topic.title %></h1>
	<div id="topic" class="col-md-8">

    <!-- 質問者の投稿 -->
		<h2 class="user"><%= User.find(@topic.user_id).name if @topic.user_id.present?%></h2>
		<div class="topic-contents">
			<%= @topic.body %><br>
			<div class="pictures">
				<%= image_tag(@topic.picture_url) if @topic.picture.present? %><br>
			</div>
		</div>

		<div style="text-align:center">
		<%= link_to 'この質問に回答する', new_response_path(topic_id:@topic.id), :class => 'btn btn-primary' %>
		</div>

		<h2> この質問に寄せられた回答<span class="badge"><%= @topic.responses.length %></span></h2>
		<!-- 回答者の投稿 -->
		<% @topic.responses.each do |response| %> 
			<h2 class="user"><%= "名無しさん" if ! response.user_id.present? %><%= User.find(response.user_id).name if response.user_id.present? %></h2> 
			<div class="<%= current_user ? current_user.id == response.user_id ? "users-contents" : "responses-contents" : "responses-contents" %>">
				<%= response.body %> <br>
				<%= image_tag(response.picture_url, :class => 'topics_img') if response.picture.present? %>
			</div>
		<% end %>
	<%= link_to 'Back', topics_path, :class => 'btn btn-primary' %>
	</div>

	<!-- サイドバー -->
	<div class="col-md-3 col-md-offset-1 sidebar">
		<%= link_to 'この質問に回答する', new_response_path(topic_id:@topic.id), :class => 'btn btn-primary' %>
	</div>
</div>
